<!DOCTYPE html>
<html>
<head>
  <title><%=t('title')%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id= "header" ><hr> <h1><%=t('header')%></h1>




<%=yield%>


</div>
<br>

</body>
</html>
