<!DOCTYPE html>
<html>
<head>
  <title>SchemaOrgValidator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id= "encabezado" ><hr> <h1 id="h1">Schema.org-validator</h1>
<p></p>


<%= form_tag({:controller => "validator", :action => "index"}, :method => "index") do %>
   <div id="encabezado2">
   <p id="instrucciones">Type the url that you want to analize and press the submit button to extract data of it</p>
   
   <%= text_field_tag "url", "", :required => "required" %>
   <%= submit_tag "Submit", class: "button" %>
   </div>
<% end %>




<hr>
</div>



<div id="contenido"> <hr>
<br>

	<%= yield %>
	
<br>

<hr>
</div>






</body>
</html>
