<!DOCTYPE html>
<html>
<head>
  <title>SchemaOrgValidator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id= "header" ><hr> <h1>Schema.org-validator</h1>
<br>


<%= form_tag({:controller => "validator", :action => "index"}, :method => "index") do %>
   <div id="header2">
   <div id="textInstructions">Type the URL that you want to analize and press the submit button to extract data of it
   	</div>
   
   <%= text_field_tag "url", "", :required => "required" %>
   <%= submit_tag "Submit", class: "button" %>
   </div>
<% end %>




<hr>
</div>



<div id="dataBlock"> <hr>

<%if(@request)%>
	<%if(@urlerror)%>	
		<p id="ErrorText"> 
			<%= image_tag "warning.jpg", :alt => "Connection Error", :title => "Connection Error"%>
			Unable to connect to the URL you entered. Please, check you URL and try again.
			</p>
		<%@urlerror = false;%>
	<%else%>
		<%= yield  %>
	<%end%>
<%end%>


</div>


<br>



</body>
</html>
